

{% extends 'base.html' %}
{% load static %}
{% block title %} Contact Us | Wisdom Market Research {% endblock %}
{% block body %}
<div class="container">
			<div class="text-center">
				<h1 class="head-after h1fs">Contact Us</h1>
			</div>

		<div class="row">
				<div class="col-lg-8">
					<div class="card">
					  <div class="card-header" style="background-color:#0b9ad7;">
						 <h3 style="color:white;">Get in touch with us </h3>
					  </div>
					  <div class="card-body">
						<form method="post">
							<h3>{{form.errors}}</h3>
						{% csrf_token %}
						{{form.full_name}}
						{{form.corporate_email}}
						{{ form.phone }}
						{{ form.subject }}
						{{ form.message }}

						<button type='submit' class='btn btn-primary'><strong>Submit</strong></button>


					 </form>

					  </div>
					</div>
				</div>


		<div class="col-lg-4">
			      <div class="card">

							<div class="card-header" style="background-color:#0b9ad7;">
						 <h3 style="color:white;">We are here</h3>
					  </div>
					  <div class="card-body">
<!--						  <p><h3><b>Our Location:</b></h3></p>-->
<!--						  <p><h5><u>North America</u></h5></p>-->
<!--						  <p>17 State Street, New York,</p>-->
<!--						  <p>NY 10004</p>-->

						  <p><h5><u>India</u></h5></p>
						  <p>F-22, Unique Society</p>
						  <p>Dehu Road, Pune 412101</p>
						  <p>Maharashtra, India. </p>
						 
						   <p><h3><b>Reach us out at:</b></h3></p>
						  <p><i class="icon-phone"></i>&nbsp;IND:<a href="tel: +91 8591633987">&nbsp;  +91 8591633987</a></p>
<!--						  <p><i class="icon-phone"></i>&nbsp; U.K:<a href="tel:+44 1158 88 1333">&nbsp; +44 1158 88 1333</a></h5></p>-->

						  <p><i class="icon-envelope"></i><a href='mailto:sales@wisdommarketresearch.com'>&nbsp;<span class="__cf_email__" >sales@wisdommarketresearch.com</span></a></p>
<!--						  <p><h3><b>Follow Us</b></h3></p>-->
<!--						  <p>-->
<!--						    <a href="https://www.facebook.com/affluencemarketreports/" rel="nofollow"><img src="{% static 'images/facebook.png'%}"></a>-->
<!--						    <a href="https://twitter.com/AffluenceReport" rel="nofollow"><img src="{% static 'images/twitter.png'%}"></a>-->
<!--						    <a href="https://www.linkedin.com/company/affluencemarketreports" rel="nofollow"><img src="{% static 'images/linkedin.png'%}"></a>-->
<!--					      </p>-->
					  </div>

	   </div>

</div>
		</div>
	</div>
{% endblock %}


