


{% extends 'base.html' %}
{% load static %}
{% block title %} Research Methodology | Wisdom Market Research {% endblock %}
{% block body %}
    <div class="container">
    		<div class="text-center">
				<h1 class="head-after h1fs">Research Methodology</h1>
			</div>
		<div class="row">
		  <div class="col-lg-12">
			<div class="row">
				<div class="text-justify tab-content" id="aboutt">
					<p>Wisdom Market Research follows an extensive research methodology which involves a blend of both primary and secondary research. Information assembling and understanding the definition of the market is one of the critical points in our research process.</p>
					<p><b>Key steps required in our research process:</b></p>
					<ul>
						<li><b>Information Assembling: </b>Under this stage, the market data or information are collected by going through all the various methodologies such as paid databases, WMR’s internal databases, primary research, and secondary research.
						<ul>
							<li><b>Secondary Sources:</b> Some of the prominent example include annual reports, press releases & investor presentations of companies, white papers, government statistics companies such as WHO, NGOs, World Bank, and many others, regulatory bodies, trade directories.</li>
							<li><b>Primary Sources:</b> The primary interviewees from the demand side include key opinion leaders, executives, vice presidents, and CEOs of companies. The primary sources from the supply side include associations and institutions involved in the particular industry, key opinion leaders, and processing players.</li>
						</ul>
						</li>
						<li><b>Data Analysis:</b> Our data is the “Wisdom” of our research and to be stand out in the market we analyse the data with statistical tools such as regression analysis and factor analysis. Our data analytics model aids in market forecasting. Common parameters are as follows;
						 <ul>
							 <li>Macro-economic factors</li>
							 <li>Demographics</li>
							 <li>Technology & innovation</li>
							 <li>Regional Patterns</li>
							 <li>Value Chain/ Supply Chain</li>
							 <li>Market dynamics</li>
							 <li>Industry Trends</li>
						 </ul>

						</li>
						<li><b>Market Estimation:</b> Both, bottom-up and top-down approaches were used to estimate and validate the size of the global market. The key players in the industry and markets were identified through extensive secondary research. The industry’s supply chain and market size, in terms of value, were determined through primary and secondary research processes.
All percentage shares, splits, and breakdowns were determined using secondary sources and
verified through primary sources.
All possible parameters that affect the markets covered in this research study were accounted
for, viewed in extensive detail, verified through primary research, and analyzed to obtain the
final quantitative and qualitative data.
</li>
						</li>

					</ul>
						<p>Research included the study of reports, reviews, and newsletters of top market players, along
with extensive interviews for opinions from leaders, such as directors and marketing executives.
</p>



				</div>
				 <div class="clearfix">&nbsp;</div>
			</div>
		  </div>

		</div>
    </div>

{% endblock %}

