


{% extends 'base.html' %}

{% block title %} Terms and Conditions | Affluence Market Report {% endblock %}
{% block body %}
<div class="ptb-35 text-center">
    	<div class="container">
    		<div class="text-center">
				<h1 class="head-after h1fs">Terms and Conditions</h1>
			</div>
			<div class="row">
			 <div class="col-lg-12">
		      <div class="row">
				<div class="text-justify tab-content">
					<p><b>Agreement to Terms :</b></p>
					<p>These Terms and Conditions ("Terms") govern your participation in market research activities conducted by Wisdom Market Research ("the Firm"). By participating in our market research studies, you agree to these Terms and any additional guidelines or instructions provided to you by the Firm.</p>

					<p><b>1.Eligibility:</b></p>
					<p>You must be at least 18 years old to participate in our market research activities. By participating, you represent and warrant that you meet the eligibility requirements.</p>

					<p><b>2. Voluntary Participation:</b></p>
					<p>Participation in our market research activities is voluntary. You have the right to decline participation or withdraw from a study/requirement at any time without penalty or negative consequences.</p>
</p>
					<p><b>3. Confidentiality and Non-Disclosure:</b></p>
					<p>You agree to maintain the confidentiality of any information disclosed to you during a market research study. This includes, but is not limited to, research methodologies, research materials, research findings, and client information. You may not disclose or share this information with any third party without the express consent of the Firm.</p>
					<p><b>4. Intellectual Property:</b></p>
					<p>Any materials provided to you by the Firm for the purpose of participating in a market research study, including questionnaires, surveys, interviews, and other research materials, are the intellectual property of the Firm or its clients. You agree not to reproduce, distribute, modify, or create derivative works based on these materials without the prior written consent of the Firm.</p>
					<p><b>5. Accuracy of Information:</b></p>
					<p>You agree to provide accurate and truthful information in all market research activities. Any false, misleading, or incomplete information may result in the termination of your participation and may impact the validity of the research study.
</p>
					<p><b>6. Data Privacy:</b></p>
					<p>The collection, use, and protection of personal information collected during our market research activities are governed by our Privacy Policy. By participating, you consent to the collection, use, and disclosure of your personal information in accordance with our Privacy Policy.</p>
					<p><b>7. Limitation of Liability:</b></p>
					<p>To the extent permitted by applicable law, the Firm and its affiliates, directors, officers, employees, agents, and contractors shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of or in connection with your participation in our market research activities.</p>

					<p><b>8. Modification of Terms:</b></p>
					<p>The Firm reserves the right to modify or update these Terms at any time, without prior notice. Any modifications will be effective immediately upon posting the updated Terms on our website or through other appropriate means. Your continued participation in market research activities after the posting of modifications constitutes your acceptance of the revised Terms.</p>
					<p><b>9. Severability:</b></p>
					<p>If any provision of these Terms is found to be invalid, illegal, or unenforceable, the remaining provisions shall continue in full force and effect.</p>
				    <p><b>10. Entire Agreement:</b></p>
					<p>These Terms constitute the entire agreement between you and the Firm regarding your participation in our market research activities and supersede any prior agreements or understandings, whether oral or written.</p>
				<p><b>11. Governing Law and Jurisdiction:</b></p>
					<p>These Terms shall be governed by and construed in accordance with the Indian Law. Any disputes arising out of or relating to these Terms or your participation in our market research activities shall be subject to the exclusive jurisdiction of the courts located in India.</p>
					<p>If you have any questions or concerns about these Terms, please contact us at:</p>
					<p><b>Name:- Wisdom Market Research</b></p>
					<p><b>Address:- F-22, Unique Society, Dehu Road, Pune, Maharashtra, India, PIN- 412101</b></p>
					<p><b>Contact Number:- +91 8591633987</b></p>
					<p>By participating in our market research activities, you acknowledge that you have read, understood, and agreed to these Terms and Conditions.</p>
				</div>
<!--				<div class="clearfix">&nbsp;</div>-->
			  </div>
			 </div>

			</div>	
    	</div>
    </div>

{% endblock %}