.button-animated {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #018749; -webkit-box-shadow: 0 0 3px #018749; }
  50% { background-color: #7dba25; -webkit-box-shadow: 0 0 40px #7dba25; }
  100% { background-color: #018749; -webkit-box-shadow: 0 0 3px #018749; }
}

@-moz-keyframes glowing {
  0% { background-color: #018749; -moz-box-shadow: 0 0 3px #018749; }
  50% { background-color: #7dba25; -moz-box-shadow: 0 0 40px #7dba25; }
  100% { background-color: #018749; -moz-box-shadow: 0 0 3px #018749; }
}

@-o-keyframes glowing {
  0% { background-color: #018749; box-shadow: 0 0 3px #018749; }
  50% { background-color: #7dba25; box-shadow: 0 0 40px #7dba25; }
  100% { background-color: #018749; box-shadow: 0 0 3px #018749; }
}

@keyframes glowing {
  0% { background-color: #018749; box-shadow: 0 0 3px #018749; }
  50% { background-color: #7dba25; box-shadow: 0 0 40px #7dba25; }
  100% { background-color: #018749; box-shadow: 0 0 3px #018749; }
}
.button-animated2 {
  background-color: #0b9ad7;
  -webkit-border-radius: 10px;
  border-radius: 1px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 18px;
  padding: 9px 8px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing2 1500ms infinite;
  -moz-animation: glowing2 1500ms infinite;
  -o-animation: glowing2 1500ms infinite;
  animation: glowing2 1500ms infinite;
}
@-webkit-keyframes glowing2 {
  0% { background-color: #018749; -webkit-box-shadow: 0 0 3px #018749; }
  50% { background-color: #0b9ad7; -webkit-box-shadow: 0 0 40px #0b9ad7; }
  100% { background-color: #018749; -webkit-box-shadow: 0 0 3px #018749; }
}

@-moz-keyframes glowing2 {
  0% { background-color: #018749; -moz-box-shadow: 0 0 3px #018749; }
  50% { background-color: #0b9ad7; -moz-box-shadow: 0 0 40px #0b9ad7; }
  100% { background-color: #018749; -moz-box-shadow: 0 0 3px #018749; }
}

@-o-keyframes glowing2 {
  0% { background-color: #018749; box-shadow: 0 0 3px #018749; }
  50% { background-color: #0b9ad7; box-shadow: 0 0 40px #0b9ad7; }
  100% { background-color: #018749; box-shadow: 0 0 3px #018749; }
}

@keyframes glowing2 {
  0% { background-color: #0b9ad7; box-shadow: 0 0 3px #0b9ad7; }
  50% { background-color: #0b9ad7; box-shadow: 0 0 40px #0b9ad7; }
  100% { background-color: #0b9ad7; box-shadow: 0 0 3px #0b9ad7; }
}
/*
.carousel-item {
  height: 85vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
.img-hover-zoom {
  height: 78px; /* [1.1] Set it as per your need */
  overflow: visible; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

/* New Code */




/* image animation*/
.box{
	width: 300px; height: 200px;
	background-color: #DDFFF7;
	position: relative;
	box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);
}
.box:after, .box:before{
	mix-blend-mode:multiply;
	filter:none;
	z-index: -1;
	content:'';
	width:calc(100% + (50px * 2));
	height:calc(100% + (50px * 2));
	position: absolute;
	display: block;
	animation: border 10s ease-in-out infinite;
	transform:translateX(-50px) translateY(-50px);
}

@keyframes border {
  0%, 100% {
    -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
            clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  50% {
    -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
            clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
}

.box:after{
	animation-delay: -5s;
	background-color: #93e1d8;
	clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
}
.box:before {
	background-color: #AA4465;
	  clip-path: polygon(calc(0% + (33.3333


.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 3.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.search-form-new {
    border-radius: 30px 0px 0px 30px;
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}
 .search-btn-new {
    border-radius: 0px 30px 30px 0px;
    cursor:pointer;
}

/*-------------------------------------------------------------------------------------------*/
input[type="search"] {
  -webkit-appearance: none !important;
  background-clip: padding-box;
  background-color: white;
  vertical-align: middle;
  border-radius: 0.25rem;
  border: 1px solid #e0e0e5;
  font-size: 1rem;
  width: 100%;
  line-height: 2;
  padding: 0.375rem 1.25rem;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

input[type="search"]:focus {
  transition: all 0.5s;
  box-shadow: 0 0 40px #f9d442b9;
  border-color: #f9d342;
  outline: none;
}

form.search-form {
  display: flex;
  justify-content: center;
}

label {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;
  margin-bottom: 0;
}

input.search-field {
  margin-bottom: 0;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;
  height: 51px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input.search-submit {
  height: 51px;
  margin: 0;
  padding: 1rem 1.3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  display: inline-block;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.15;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: #f9d342;
  color: #292826;
  border: 1px solid transparent;
  vertical-align: middle;
  text-shadow: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.button:hover,
.button:active,
.button:focus {
  cursor: pointer;
  background: #d4b743;
  color: #292826;
  outline: 0;
}
.wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.social {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex;
}
.social li {
  list-style:none;
}
.social li a {
  display:block;
  position:relative;
  width:100px;
  height:100px;
  line-height:100px;
  font-size:40px;
  text-align:center;
  text-decoration:none;
  color:#404040;
  margin: 0 30px;
  transition:.5s;
}
.social li a span {
  position:absolute;
  transition: transform .5s;
}
.social li a span:nth-child(1),
.social li a span:nth-child(3){
  width:100%;
  height:3px;
  background:#404040;
}
.social li a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}
.social li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}

.social li a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
.social li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}

.social li a span:nth-child(2),
.social li a span:nth-child(4){
  width:3px;
  height:100%;
  background:#404040;
}
.social li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
.social li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
.social li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
.social li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}

.facebook:hover {
  color: #3b5998;
}
.facebook:hover span {
  background: #3b5998;
}
.twitter:hover {
  color: #1da1f2;
}
.twitter:hover span {
  background: #1da1f2;
}
.instagram:hover {
  color: #c32aa3;
}
.instagram:hover span {
  background: #c32aa3;
}
.google:hover {
  color: #dd4b39;
}
.google:hover span {
  background: #dd4b39;
}
.social li a .twitter {
  color: #1da1f2;
}
.social li a:hover:nth-child(3) {
  color: #c32aa3;
}
.social li a:hover:nth-child(4) {
  color: #dd4b39;
}