

{% load static %}
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

<meta name="description" content="Wisdom Market Research is a full-service market research company for brands all over the world. Our research reports helps businesses to make strategic and informed decisions.">
	<meta name="keywords" content="Wisdom Market Research, AMR, Industry Analysis, Market Intelligence, top market research companies,Research and Consulting, Business Research, Market Research reports, business consulting services, Competitive Analysis ">
	<meta name="document-type" content="Public"/>
<meta name="copyright" content="Wisdom Market Research"/>

<meta name="Audience" content="All, Business, Management, Research, Services"/>
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet"/>
   <link href="{% static 'css/amr.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/css/colors/default-color.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/css/theme-responsive.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/css/animation.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/css/owl.transitions.css' %}" rel="stylesheet"/>
<!--<link href="{% static 'assets/font-awesome/css/all.min.css' %}" rel="stylesheet"/>-->
<!--	<link href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>
<link href="{% static 'assets/css/media.css' %}" rel="stylesheet"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
<!--	Nav bar code-->



<meta property="og:url" content="index.html"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="Wisdom Market Research | Latest Industry Insights"/>
<meta property="og:description" content="Wisdom Market Research is a full-service market research company for brands all over the world. You can discover the impact with our market research."/>
<meta property="og:image" content="images/WMR_Logo.png"/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174031289-1"></script>-->
<!--<script>-->
<!--  window.dataLayer = window.dataLayer || [];-->
<!--  function gtag(){dataLayer.push(arguments);}-->
<!--  gtag('js', new Date());-->

<!--  gtag('config', 'UA-174031289-1');-->
<!--</script>-->

</head>
<body>





<div id="top-header" style="background-color:#0b9ad7;">
			<div class="container">
		      <div class="row">
		<div class="col-lg-12 col-md-6 col-sm-6 text-left pad10">
			<ul class="t-head-left" style="border:None;">
				<li style="color:white;after:#0b9ad7"><i class="fas fa-phone-square-alt" ></i>&nbsp;<a id="skypeno" href="tel:+91 8591633987" style="color:white;border-line:#0b9ad7">&nbsp;<b>IND:+91 8591633987</b></a></li>
<!--	       <li style="color:white;"><i class="fas fa-phone-square-alt" ></i>&nbsp;U.K:<span href="tel:+44 1158 88 1333" style="color:white;border-line:#0b9ad7">&nbsp;&nbsp;+44 1158 88 1333</span></li>-->
				<li style="color:white;"><i class="fas fa-envelope"></i> <a  href="mailto:sales@wisdommarketresearch.com" style="color:white;border-line:#0b9ad7">&nbsp;<span class="__cf_email__"><b>sales@wisdommarketresearch.com</b></span></a></li>
			</ul>
		</div>



	</div>
			</div>
		</div>




<div id="header">

	<div class="container">

				<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/WMR_new.png' %}" class="smi_logo" alt="Wisdom Market Research" title="Wisdom Market Research" style="float:right;width:299px;"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
			</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'index' %}" class="menu-top-active">Home</a>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
							<ul class="dropdown-menu multi-column columns-2">
								<div class="row">

											{% for category in categories1 %}
											<div class="col-sm-6">
												<ul class="multi-column-dropdown">

                                                    <li><a class="dropdown-item" href="{% url 'category' category.slug %}"><strong>{{category.name}}</strong></a></li>


												</ul>
											</div>
											{% endfor %}


									{% for category in categories2 %}
									<div class="col-sm-6">
										<ul class="multi-column-dropdown">
                                            <li><a class="dropdown-item" href="{% url 'category' category.slug %}"><strong>{{category.name}}</strong></a></li>

										</ul>
									</div>
									{% endfor %}
								</div>
							</ul>
						</li>


						<li class="nav-item">
							<a class="nav-link" href="{% url 'research_methodology' %}">Methodology</a>
						</li>
<!--						<li class="nav-item">-->
<!--							<a class="nav-link" href="{% url 'latestreports' %}">Latest Reports</a>-->
<!--						</li>-->
<!--						<li class="nav-item">-->
<!--							<a class="nav-link" href="{% url 'aboutus' %}">About Us</a>-->
<!--						</li>-->
						<li class="nav-item dropdown">
						   <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">About Us</a>
							<ul class="dropdown-menu" style="min-width: 15rem;font-size: 14px;background-color: #fff;">
								<li><a class="dropdown-item" href="{% url 'aboutus' %}"><strong>About WMR</strong></a></li>
								<li><a class="dropdown-item" href="{% url 'services' %}"><strong>Our Services</strong></a></li>
								<li><a class="dropdown-item" href="{% url 'contactus' %}"><strong>Contact Us</strong></a></li>
							</ul>
						</li>

<!--						<li class="nav-item">-->
<!--							<a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>-->
<!--						</li>-->
						<li class="nav-item mt-4">

<!--							<form class="navbar-form" role="search" method="get" action="{% url 'search_report_list' %}">-->
<!--					           <div class="input-group">-->
<!--								   <input type="text" class="form-control" placeholder="Search Reports" name="searchquery" value="{{request.GET.searchquery}}" id="srch-term" style="height:30px;width:250px;border-radius:30px 0px 0px 30px;border: 1px solid #A9A9A9;">-->
<!--								   <div class="input-group-btn">-->
<!--								   <button class="btn btn-default mt-0 mr-3" type="submit" style="background-color:#e9edf5;border-radius: 0px 30px 30px 0px; cursor:pointer;height:30px;border: 1px solid #A9A9A9;outline:none;box-shadow:none;"><i class="fas fa-search" style="color:black;"></i></button>-->
<!--						           </div>-->
<!--								</div>-->
<!--					         </form>-->
							<div class="wrapper1">
							    <form role="search" method="get" class="search-form form" action="{% url 'search_report_list' %}">
								<label>
									<span class="screen-reader-text">Search for...</span>
									<input type="search" class="search-field" placeholder="Search report..." value="" name="searchquery" title="" />
								</label>
								<input type="submit" class="search-submit button" value="&#xf002" />
									</form>
							</div>
						</li>

					</ul>


				</div>

		</nav>

		</div>


	</div>

</div>




{% block body %}



{% endblock %}


<!--<div class="container-fluid" style="background-image:url({% static 'images/sample-text-bg.jpg' %});background-repeat:none;background-size: cover;background-position: center;margin: 0px 0px 0px 0px;padding: 1rem 0;">-->
<!--	<div class="container">-->
<!--		<div class="row">-->

<!--		<h2 class="heading">-->
<!--			<div style="display: block;padding: 0px;margin: 0px;width: 100%;text-align: center;">-->
<!--				<span class="new_span">FRESH PERSPECTIVES<br> NEW DATA AND INSIGHTS</span>-->
<!--			</div>-->
<!--			<hr>-->
<!--		</h2>-->

<!--		<center>-->
<!--			<div class="item1 col-2">-->
<!--				<img class="img-responsive" alt="Sample" src="{% static 'images/report_icon.png' %}" style="width:55px;height:55px;">-->
<!--				<div class="title1">1.5 Million Market <br>Research Reports</div>-->
<!--				<p class = "para" style="font-size:14px;">Reports include detailed research, sales data and market information along with analysis, context also provide the complete picture of the past, present and future of key markets.</p>-->
<!--			</div>-->

<!--			<div class="item1 col-2">-->
<!--				<img class="img-responsive" alt="Sample" src="{% static 'images/publishers_icon.png' %}" style="width:55px;height:55px;">-->
<!--				<div class="title1">100+ Verified <br>Publishers</div>-->
<!--				<p class = "para" style="font-size:14px;">With global coverage of key new products launched, WMR is your destination for data, analysis and insights and innovation.</p>-->
<!--			</div>-->

<!--			<div class="item1 col-3">-->
<!--				<img class="img-responsive" alt="Sample" src="{% static 'images/trusted_icon.png' %}" style="width:55px;height:55px;">-->
<!--				<div class="title1">Trusted <br>Insights</div>-->
<!--				<p class = "para" style="font-size:14px;">Make the right decisions with forward-thinking insights, verified peer-driven research, and metrics and data.</p>-->
<!--			</div>-->

<!--			<div class="item1 col-4">-->
<!--				<img class="img-responsive" alt="Sample" src="{% static 'images/forecast_icon.png' %}" style="width:52px;height:52px;">-->
<!--				<div class="title1">Forecast and <br> Market Sizing</div>-->
<!--				<p class = "para" style="font-size:14px;">WMR is a fast, reliable database of global market information, including sizes, segmentation, market shares and forecast.</p>-->
<!--			</div>-->

<!--			<div class="item1 col-5">-->
<!--				<img class="img-responsive" alt="Sample" src="{% static 'images/analysis_icon.png' %}" style="width:55px;height:55px;">-->
<!--				<div class="title1">Market<br> Analysis</div>-->
<!--				<p class = "para" style="font-size:14px;">A variety of research and insight services available to help you grow your business and understand market updates/brands more effectively.</p>-->
<!--			</div>-->
<!--		</center>-->
<!--			<div class="clearfix"></div>-->

<!--		</div> &lt;!&ndash; row &ndash;&gt;-->
<!--    </div>-->

<!--</div>-->

<!-- test code start-->

<!--<style>-->
<!--  .container-fluid {-->
<!--    background-repeat: no-repeat;-->
<!--    background-size: cover;-->
<!--    background-position: center;-->
<!--    margin: 0;-->
<!--    padding: 1rem 0;-->
<!--  }-->

<!--  .container {-->
<!--    padding: 0 15px;-->
<!--  }-->

<!--  .row {-->
<!--    display: flex;-->
<!--    flex-wrap: wrap;-->
<!--    justify-content: center;-->
<!--  }-->

<!--  .heading {-->
<!--    text-align: center;-->
<!--    margin-bottom: 1rem;-->
<!--  }-->

<!--  .item1 {-->
<!--    text-align: center;-->
<!--    margin-bottom: 2rem;-->
<!--  }-->

<!--  .img-responsive {-->
<!--    display: block;-->
<!--    margin: 0 auto;-->
<!--    max-width: 100%;-->
<!--    height: 55px;-->
<!--    width:55px;-->
<!--  }-->

<!--  .title1 {-->
<!--    font-weight: bold;-->
<!--    margin-top: 1rem;-->
<!--  }-->

<!--  .para {-->
<!--    font-size: 14px;-->
<!--    line-height: 1.5;-->
<!--  }-->

<!--  @media (min-width: 576px) {-->
<!--    .container {-->
<!--      max-width: 540px;-->
<!--    }-->
<!--  }-->

<!--  @media (min-width: 768px) {-->
<!--    .container {-->
<!--      max-width: 720px;-->
<!--    }-->
<!--  }-->

<!--  @media (min-width: 992px) {-->
<!--    .container {-->
<!--      max-width: 960px;-->
<!--    }-->
<!--  }-->

<!--  @media (min-width: 1200px) {-->
<!--    .container {-->
<!--      max-width: 1140px;-->
<!--    }-->
<!--  }-->
<!--</style>-->

<!--<div class="container-fluid" style="background-image: url({% static 'images/sample-text-bg.jpg' %});">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <h2 class="heading">-->
<!--        <div>-->
<!--          <span class="new_span" style="font-size: 30px";>FRESH PERSPECTIVES<br> NEW DATA AND INSIGHTS</span>-->
<!--        </div>-->
<!--        <hr>-->
<!--      </h2>-->
<!--	</div>-->
<!--	  <div class="row">-->
<!--		  <div class="item1 col-12 col-sm-6 col-md-4">-->
<!--			<img class="img-responsive" alt="Sample" src="{% static 'images/report_icon.png' %}">-->
<!--			<div class="title1">1.5 Million Market <br>Research Reports</div>-->
<!--			<p class="para">Reports include detailed research, sales data and market information along with analysis, context also provide the complete picture of the past, present and future of key markets.</p>-->
<!--		  </div>-->

<!--		  <div class="item1 col-12 col-sm-6 col-md-4">-->
<!--			<img class="img-responsive" alt="Sample" src="{% static 'images/report_icon.png' %}">-->
<!--			<div class="title1">100+ Verified <br>Publishers</div>-->
<!--			<p class="para">With global coverage of key new products launched, WMR is your destination for data, analysis and insights and innovation.</p>-->
<!--		  </div>-->

<!--		  <div class="item1 col-12 col-sm-6 col-md-4">-->
<!--			<img class="img-responsive" alt="Sample" src="{% static 'images/report_icon.png' %}">-->
<!--			<div class="title1">Trusted <br>Insights</div>-->
<!--			<p class="para">Make the right decisions with forward-thinking insights, verified peer-driven research, and metrics and data.</p>-->
<!--		  </div>-->

<!--		  <div class="item1 col-12 col-sm-6 col-md-4">-->
<!--			<img class="img-responsive" alt="Sample" src="{% static 'images/report_icon.png' %}">-->
<!--			<div class="title1">Forecast and <br> Market Sizing</div>-->
<!--			<p class="para">WMR is a fast, reliable database of global market information, including sizes, segmentation, market shares and forecast.</p>-->
<!--		  </div>-->

<!--		  <div class="item1 col-12 col-sm-6 col-md-4">-->
<!--			<img class="img-responsive" alt="Sample" src="{% static 'images/report_icon.png' %}">-->
<!--			<div class="title1">Market<br> Analysis</div>-->
<!--			<p class="para">A variety of research and insight services available to help you grow your business and understand market updates/brands more effectively.</p>-->
<!--		  </div>-->
<!--	  </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--test code end-->
<!--test code for footer-->
<style>
  .footersect {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .footH {
    margin-bottom: 1.5rem;
  }

  .footinfo {
    color: white;
  }

  .footinfo a {
    color: white;
    text-decoration: none;
  }

  .footinfo a:hover {
    text-decoration: underline;
  }

  .footinfo h5 {
    color: white;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .footinfo i {
    margin-right: 0.5rem;
  }

  .footinfo p {
    margin-bottom: 0;
  }

  .footinfo ul {
    list-style: none;
    padding-left: 0;
  }

  .footinfo ul li {
    margin-bottom: 0.5rem;
  }

  .footinfo ul li a {
    color: white;
    text-decoration: none;
  }

  .footinfo ul li a:hover {
    text-decoration: underline;
  }

  .footinfo3 {
    color: white;
  }

  .footinfo3 h5 {
    color: white;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .footinfo3 ul {
    list-style: none;
    padding-left: 0;
  }

  .footinfo3 ul li {
    margin-bottom: 0.5rem;
  }

  .footinfo3 ul li a {
    color: white;
    text-decoration: none;
  }

  .footinfo3 ul li a:hover {
    text-decoration: underline;
  }

  .paymentimg {
    text-align: center;
    margin-top: 1rem;
  }

  .paymentimg img {
    max-width: 100%;
  }

  .footercopyright {
    background-color: #222;
    padding: 1rem 0;
  }

  .footercopyright {
    color: white;
    text-align: center;
    font-size: 14px;
  }
</style>

<div class="footersect">
  <div class="container-fluid bodyw">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="footH">
          <h5>Contact us</h5>
        </div>
        <div class="footinfo">
          <div>
            <i class="fas fa-envelope"></i>
            <a href="mailto:sales@wisdommarketresearch.com">sales@wisdommarketresearch.com</a>
          </div>
          <p></p>
          <div>
            <i class="fas fa-phone-square-alt"></i>
            <a href="tel:+91 8591633987">+91 8591633987</a>
          </div>
          <p></p>
			<br>
          <div>
            <h5>India:</h5>
            <address>
              F-22, Unique Society, Dehu Road, Pune, Maharashtra, India, PIN- 412101
            </address>
          </div>
<!--          <div class="mt-3">-->
<!--            <ul class="social-media-icons">-->
<!--              <li><a href="https://www.facebook.com/wisdommarketresearch/"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a></li>-->
<!--              <li><a href="https://www.linkedin.com/company/wisdommarketresearch"><img src="{% static 'images/linkedin.png' %}" alt="LinkedIn"></a></li>-->
<!--            </ul>-->
<!--          </div>-->
			<style>
  .social-media-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .social-media-icons li {
    margin: 0 0.5rem;
  }

  .social-media-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background-color: #333;
    color: #fff;
  }

  .social-media-icons a:hover {
    background-color: #1877f2; /* Facebook blue */
  }

  .social-media-icons img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
</style>

			<div class="mt-3">
  <ul class="social-media-icons" >
<!--	  <li style="color:white;font-size:24px;"><strong>Let's connect on</strong></li>-->
    <li>
      <a href="https://www.facebook.com/wisdommarketresearch/" target="_blank" rel="nofollow">
        <img src="{% static 'images/facebook.png' %}" alt="Facebook">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/wisdommarketresearch" target="_blank" rel="nofollow">
        <img src="{% static 'images/linkedin.png' %}" alt="LinkedIn">
      </a>
    </li>
  </ul>
</div>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-6 col-md-3">
            <div class="footH">
              <h5>Menu</h5>
            </div>
            <div class="footinfo3">
              <ul>
                  <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'aboutus' %}">About Us</a></li>
                  <li><a href="{% url 'latestreports' %}">Latest report</a></li>
                  <li><a href="{% url 'research_methodology' %}">Research methodology</a></li>
<!--                <li><a href="{% url 'latestreports' %}">Latest Reports</a></li>-->
<!--                <li><a href="{% url 'becomepublisher' %}" rel="nofollow">Publisher Partnership</a></li>-->
<!--                <li><a href="{% url 'privacypolicy' %}" rel="nofollow">Privacy Policy</a></li>-->
<!--                <li><a href="{% url 'termsandconditions' %}" rel="nofollow">Terms & Conditions</a></li>-->
<!--                <li><a href="{% url 'contactus' %}">Contact Us</a></li>-->
              </ul>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="footH">
              <h5>Links</h5>
            </div>
            <div class="footinfo3">
              <ul>
<!--                <li><a href="{% url 'aboutus' %}">About Us</a></li>-->
<!--                <li><a href="{% url 'latestreports' %}">Latest Reports</a></li>-->
<!--                <li><a href="{% url 'becomepublisher' %}" rel="nofollow">Publisher Partnership</a></li>-->
                <li><a href="{% url 'privacypolicy' %}" rel="nofollow">Privacy Policy</a></li>
                <li><a href="{% url 'termsandconditions' %}" rel="nofollow">Terms & Conditions</a></li>
                  <li><a href="{% url 'refund_policy' %}" rel="nofollow">Refund policy</a></li>
                <li><a href="{% url 'contactus' %}">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footH">
              <h5>Secure Payment By:</h5>
            </div>
            <div class="footinfo3">
              <div class="paymentimg">
                <img src="{% static 'images/payment_footer.png' %}" alt="Payment Logos">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footercopyright">
  <div class="container-fluid bodyw p-0">
    <div class="row">
      <div class="col-12">
        <div class="text-center p-3">© 2023 Wisdom Market Research. All Rights Reserved</div>
      </div>
    </div>
  </div>
</div>
<!--test code footer end-->
<!--<div class="footersect mt-lg-0 mt-md-0" data-aos-anchor-placement="top-bottom">-->

<!--<div class="container-fluid bodyw">-->

<!--<div class="row">-->

<!--<div class="col-md-4 col-12">-->

<!--  <div class="footH">-->

<!--	 <h5>Contact us</h5>-->

<!--  </div>-->

<!--  <div class="footinfo">-->



<!--&lt;!&ndash;	 </p><div class="footinfoicon">&ndash;&gt;-->

<!--&lt;!&ndash;		<span class="fa fa-envelope icon-color"></span>&ndash;&gt;-->

<!--&lt;!&ndash;	 </div>&ndash;&gt;-->

<!--	 <div style="color:white;">-->
<!--         <i class="fas fa-envelope"></i>-->
<!--		<a href="mailto:sales@wisdommarketresearch.com" style="color:white;">sales@wisdommarketresearch.com</a>-->

<!--	 </div>-->
<!--	  <p></p>-->
<!--	  <div style="color:white;after:#0b9ad7">-->
<!--		   <i class="fas fa-phone-square-alt" ></i><a href="tel:+91 8591633987" style="color:white;">&nbsp;+91 8591633987</a>-->
<!--	  </div>-->
<!--	  <p></p>-->

<!--	  <div>-->

<!--		<h5 style="color:white;">India:</h5>-->

<!--		<address style="color:white;">-->

<!--		    F-22, Unique Society, Dehu Road, Pune.-->
<!--			Maharashtra, India, PIN- 412101-->

<!--		</address>-->

<!--	 </div>-->
<!--	  <div class="mt-3">-->
<!--		  <div class = "row">-->
<!--		  <ul>-->
<!--						<li><a href="https://www.facebook.com/wisdommarketresearch/" rel="nofollow"><img src="{% static 'images/facebook.png'%}"></a></li>-->
<!--&lt;!&ndash;						<li><a href="https://twitter.com/AffluenceReport" rel="nofollow"><img src="{% static 'images/twitter.png'%}"></a></li>&ndash;&gt;-->
<!--						<li><a href="https://www.linkedin.com/company/wisdommarketresearch" rel="nofollow"><img src="{% static 'images/linkedin.png'%}"></a></li>-->
<!--		  </ul>-->
<!--		  </div>-->
<!--	  </div>-->

<!--&lt;!&ndash;	 <p></p>&ndash;&gt;-->


<!--&lt;!&ndash;	 </p><div class="footinfoicon">&ndash;&gt;-->

<!--&lt;!&ndash;		<img src="/images/icons/mapicon.png" alt="mapicon" loading="lazy" width="50" height="30">&ndash;&gt;-->

<!--&lt;!&ndash;	 </div>&ndash;&gt;-->

<!--&lt;!&ndash;	 <div class="footinfoinr1" style="padding-bottom: 1px">&ndash;&gt;-->

<!--&lt;!&ndash;		<h5>Sales Office (U.S.):</h5>&ndash;&gt;-->

<!--&lt;!&ndash;		<address>&ndash;&gt;-->

<!--&lt;!&ndash;		   Worldwide Market Reports, 533 Airport Boulevard, Suite 400, Burlingame, CA 94010, United States&ndash;&gt;-->

<!--&lt;!&ndash;		</address>&ndash;&gt;-->

<!--&lt;!&ndash;		<p><img src="/images/icons/phoneIconf.svg" class="footpicon" alt="mapicon" loading="lazy" width="50" height="30"><a href="tel:+1-415-871-0703">+1-415-871-0703</a></p>&ndash;&gt;-->

<!--&lt;!&ndash;	 </div>&ndash;&gt;-->

<!--&lt;!&ndash;	 <p></p>&ndash;&gt;-->

<!--&lt;!&ndash;	 <p>&ndash;&gt;-->

<!--&lt;!&ndash;	 </p>&ndash;&gt;-->
<!--&lt;!&ndash;	  <div class="footinfoicon">&ndash;&gt;-->

<!--&lt;!&ndash;		<img src="/images/icons/mapicon.png" alt="mapicon" loading="lazy" width="50" height="30">&ndash;&gt;-->

<!--&lt;!&ndash;	 </div>&ndash;&gt;-->



<!--	 <p></p>-->

<!--	 <div class="footinfoinr1 ukfp" style="border-bottom: none;margin-left:15px">-->
<!--&lt;!&ndash;	 	<p>&ndash;&gt;-->
<!--&lt;!&ndash;		   <img src="/images/icons/phoneIconf.svg" class="footpicon nomt" alt="phoneicon" loading="lazy" width="50" height="30"><span class="footcontb">U.S.:</span><a href="tel:+1415 871 0703 ">+1 415 871 0703 </a>&ndash;&gt;-->
<!--&lt;!&ndash;		</p>&ndash;&gt;-->
<!--&lt;!&ndash;		<p>&ndash;&gt;-->
<!--&lt;!&ndash;		   <img src="/images/icons/phoneIconf.svg" class="footpicon nomt" alt="phoneicon" loading="lazy" width="50" height="30"><span class="footcontb">UK :</span><a href="tel:+44-203-289-4040">+44-203-289-4040</a>&ndash;&gt;-->
<!--&lt;!&ndash;		</p>&ndash;&gt;-->
<!--&lt;!&ndash;		<p>&ndash;&gt;-->
<!--&lt;!&ndash;		   <img src="/images/icons/phoneIconf.svg" class="footpicon nomt" alt="phoneicon" loading="lazy" width="50" height="30"><span class="footcontb">Japan :</span><a href="tel:+81-50-5539-1737">+81-50-5539-1737</a>&ndash;&gt;-->
<!--&lt;!&ndash;		</p>&ndash;&gt;-->


<!--	 </div>-->

<!--  </div>-->

<!--</div>-->

<!--<div class="col-md-8 col-lg-8 col-12">-->

<!--  <div class="row">-->

<!--	 <div class="col-md-3 col-6">-->

<!--		<div class="footH">-->

<!--		   <h5>Menu</h5>-->

<!--		</div>-->

<!--		<div class="footinfo3">-->

<!--		   <ul class="footinfo3ul">-->
<!--						<li><a href="{% url 'aboutus' %}">About Us</a></li>-->
<!--						<li><a href="{% url 'latestreports' %}">Latest Reports</a></li>-->
<!--						<li><a href="{% url 'becomepublisher' %}" rel="nofollow">Publisher Partnership</a></li>-->
<!--						<li><a href="{% url 'privacypolicy' %}" rel="nofollow">Privacy Policy</a></li>-->
<!--						<li><a href="{% url 'termsandconditions' %}" rel="nofollow">Terms & Conditions</a></li>-->
<!--						<li><a href="{% url 'contactus' %}">Contact Us</a></li>-->
<!--					</ul>-->

<!--		</div>-->

<!--	 </div>-->

<!--	 <div class="col-md-3 col-6">-->

<!--		<div class="footH">-->

<!--		   <h5>Quick Links</h5>-->

<!--		</div>-->

<!--		<div class="footinfo3">-->



<!--			 <ul class="footinfo3ul">-->
<!--						<li><a href="{% url 'aboutus' %}">About Us</a></li>-->
<!--						<li><a href="{% url 'latestreports' %}">Latest Reports</a></li>-->
<!--						<li><a href="{% url 'becomepublisher' %}" rel="nofollow">Publisher Partnership</a></li>-->
<!--						<li><a href="{% url 'privacypolicy' %}" rel="nofollow">Privacy Policy</a></li>-->
<!--						<li><a href="{% url 'termsandconditions' %}" rel="nofollow">Terms & Conditions</a></li>-->
<!--						<li><a href="{% url 'contactus' %}">Contact Us</a></li>-->
<!--					</ul>-->



<!--		</div>-->

<!--	 </div>-->

<!--	 <div class="col-md-6">-->


<!--		<div class="footH">-->

<!--		   <h5>Secure Payment By:</h5>-->

<!--		</div>-->

<!--		<div class="footinfo3">-->

<!--&lt;!&ndash;		   <p>Want us to send you latest updates of the current trends, insights, and more, signup to our newsletter (for alerts, special offers, and discounts). </p>&ndash;&gt;-->

<!--&lt;!&ndash;		   <div class="newsfooter">&ndash;&gt;-->

<!--&lt;!&ndash;			<div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;				<span class="eemail_msg"><span id="eemail_msg"></span></span>&ndash;&gt;-->
<!--&lt;!&ndash;				<br>&ndash;&gt;-->
<!--&lt;!&ndash;				 <input type="email" id="newstext" name="email" class="form-control newsinput" placeholder="Your Email Address" onkeypress="return check(event)" required="">&ndash;&gt;-->
<!--&lt;!&ndash;				<div class="input-group-append">&ndash;&gt;-->
<!--&lt;!&ndash;					 <button type="submit" name="newssubmit" id="nwsltr-pri" class="input-group-text subsbtn">Subscribe</button>&ndash;&gt;-->
<!--&lt;!&ndash;				</div>&ndash;&gt;-->

<!--&lt;!&ndash;			</div>&ndash;&gt;-->

<!--&lt;!&ndash;		   </div>&ndash;&gt;-->

<!--		</div>-->


<!--		<div class="paymentimg">-->

<!--&lt;!&ndash;		   <h5>Secure Payment By:</h5>&ndash;&gt;-->

<!--		   <img src="{% static 'images/payment-logos.png' %}"/>-->

<!--&lt;!&ndash;		   <p class="text-white paymentinfo ">This website is secured Origin CA certificate on the server, Comodo, Firewall and Verified Sitelock Malware Protection</p>&ndash;&gt;-->

<!--&lt;!&ndash;		   <p class="text-center"><img src="/images/Comodo-Secure-Seal.png" class="img-fluid combopicon" alt="secureimg" loading="lazy" width="50" height="30"></p>&ndash;&gt;-->

<!--		</div>-->

<!--	 </div>-->

<!--  </div>-->

<!--</div>-->

<!--</div>-->

<!--</div>-->

<!--<div class="footercopyright">-->

<!--<div class="container-fluid bodyw p0">-->

<!--<div class="row">-->

<!--  <div class="col-md-12 col-lg-12">-->

<!--	 <div class="text-center p-3 text-white"> © 2023 Wisdom Market Research. All Rights Reserved</div>-->

<!--  </div>-->

<!--</div>-->

<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--<div id="footer">-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-lg-4 mb-2">-->
<!--				<a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/WMR_logo.png' %}" class="smi_logo" alt="Wisdom Market Research" title="Wisdom Market Research" height="90px"></a>-->
<!--				<div class="mt-3">-->
<!--					<p><h5><i class="icon-phone"></i>&nbsp; <a href="tel:+91 8591633987">IND:&nbsp;+91 8591633987</a></h5>-->
<!--&lt;!&ndash;                    <p><h5><i class="icon-phone"></i>&nbsp; <a href="tel:+91-8075755284">U.K:&nbsp; +44 1158 88 1333</a></h5>&ndash;&gt;-->
<!--					<h5><i class="icon-envelope"></i><a href='mailto:sales@wisdommarketresearch.com'> &nbsp;<span class="__cf_email__" >sales@wisdommarketresearch.com</span></a></h5></p>-->
<!--					<ul class="f-m-icons">-->
<!--						<li><a href="https://www.facebook.com/wisdommarketresearch/" rel="nofollow"><img src="{% static 'images/facebook.png'%}"></a></li>-->
<!--&lt;!&ndash;						<li><a href="https://twitter.com/AffluenceReport" rel="nofollow"><img src="{% static 'images/twitter.png'%}"></a></li>&ndash;&gt;-->
<!--						<li><a href="https://www.linkedin.com/company/wisdommarketresearch" rel="nofollow"><img src="{% static 'images/linkedin.png'%}"></a></li>-->
<!--					</ul>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="col-lg-2 mb-3">-->
<!--				<h3 class="head-after">Menu</h3>-->
<!--				  <div class="mt-2">-->
<!--					<ul>-->
<!--						<li><a href="{% url 'aboutus' %}">About Us</a></li>-->
<!--						<li><a href="{% url 'latestreports' %}">Latest Reports</a></li>-->
<!--						<li><a href="{% url 'becomepublisher' %}" rel="nofollow">Publisher Partnership</a></li>-->
<!--						<li><a href="{% url 'privacypolicy' %}" rel="nofollow">Privacy Policy</a></li>-->
<!--						<li><a href="{% url 'termsandconditions' %}" rel="nofollow">Terms & Conditions</a></li>-->
<!--						<li><a href="{% url 'contactus' %}">Contact Us</a></li>-->
<!--					</ul>-->
<!--				  </div>-->
<!--			</div>-->


<!--			<div class="col-lg-6 col-md-12 col-sm-12 mb-3">-->
<!--                      <h3 class="head-after"></h3>-->
<!--				<div class="mt-3 footer-contact">-->
<!--					<br>-->
<!--&lt;!&ndash;					<img src="{% static 'images/comodossl.png' %}"/>&ndash;&gt;-->
<!--					<img src="{% static 'images/payment-logos.png' %}"/>-->
<!--&lt;!&ndash;					<img src="{% static 'images/comodossl.png' %}"/>&ndash;&gt;-->

<!--				</div>-->
<!--			</div>-->

<!--		</div>-->
<!--	</div>-->
<!--</div>-->

<!--<div id="sub-footer" class="sub-footer-bg">-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-lg-6 text-left">-->
<!--				<p><b> &copy; 2023 Wisdom Market Research. All rights reserved</b></p>-->
<!--			</div>-->
<!--			<div class="col-lg-6 text-right" id="ftpd">-->

<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<div class="backto-top-btn">
<span class="top-btn btn btn-primary"><i class="icon-chevron-sign-up icon-2x"></i></span>
</div>



<!--                <script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>-->
				<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
				<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
				<script src="{% static 'assets/js/counter/counter.js' %}"></script>
				<script src="{% static 'assets/js/common-script.js' %}"></script>
				<script src="{% static 'assets/js/readmore.min.js' %}"></script>
				<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
				<script src="{% static 'assets/js/bxslide.js' %}"></script>
				<script src="{% static 'assets/js/bxjs.js' %}"></script>
                <script src="{% static 'js/all.min.js' %}"></script>
				<script src="{% static 'js/custom.js' %}"></script>
<!--                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>-->
    <script type='text/javascript' src="{% static 'js/amr.js' %}"></script>







</body>
</html>
